@tailwind base;
@tailwind components;
@tailwind utilities;

.tiptap.ProseMirror:focus-visible {
  outline: none !important;
}
.tiptap.ProseMirror p,
.tiptap.ProseMirror ul,
.tiptap.ProseMirror ol,
.tiptap.ProseMirror li {
  @apply mt-0 mb-0;
}
.tiptap.ProseMirror .fake-h3-style {
  font-size: 1.25rem; /* Size of an h3 */
  display: block;
  margin-bottom: 0.5rem;
}

main#main-content > div:first-child {
  @apply !pt-16;
}
main#main-content > div:last-child {
  @apply !pb-24;
}
